---
import MainLayout from '../../layouts/main-layout.astro'
import ImageGallery from '../../components/ImageGallery.tsx'

const bibliothequeImagePaths = import.meta.glob('/src/Galerie/biblio/*.{jpg,jpeg,png,gif,webp}');
const bibliothequeImages = Object.keys(bibliothequeImagePaths);
---

<MainLayout title = 'DM Placards - Bibliothèque'>
  <section class="w-full bg-[url('/service3.png')] bg-cover bg-center h-[50vh] flex justify-center items-end">
    <div class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5">
      <h1 class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200 ">Bibliothèque</h1>
      <p class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-text-gray"> <a href="/">Accueil</a> / <a href="/galerie">Galerie</a> / Bibliothèque </p>
    </div>
  </section>
  <ImageGallery title="Projets Bibliothèque" images={bibliothequeImages} client:load />
</MainLayout>
