---
import MainLayout from '../../layouts/main-layout.astro'
import ImageGallery from '../../components/ImageGallery.tsx'

// Get all image files from public/Galerie/sous-pente
const sousPentesImages = [
  '/Galerie/sous-pente/1.jpg',
  '/Galerie/sous-pente/IMG-20250318-WA0030.jpg',
  '/Galerie/sous-pente/IMG-20250318-WA0031.jpg',
  '/Galerie/sous-pente/IMG-20250318-WA0037.jpg',
  '/Galerie/sous-pente/IMG-20250318-WA0042.jpg',
  '/Galerie/sous-pente/IMG-20250318-WA0071.jpg',
  '/Galerie/sous-pente/IMG-20250318-WA0073.jpg',
  '/Galerie/sous-pente/IMG-20250318-WA0074.jpg',
  '/Galerie/sous-pente/IMG-20250318-WA0075.jpg',
  '/Galerie/sous-pente/IMG-20250318-WA0076.jpg',
];
---

<MainLayout title = 'DM Placards - Sous Pentes'>
  <section class="w-full bg-[url('/project1.png')] bg-cover bg-center h-[50vh] flex justify-center items-end">
    <div class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5">
      <h1 class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200 ">Sous Pentes</h1>
      <p class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-text-gray"> <a href="/">Accueil</a> / <a href="/galerie">Galerie</a> / Sous Pentes </p>
    </div>
  </section>
  <ImageGallery title="Projets Sous Pentes" images={sousPentesImages} client:load />
</MainLayout>
